<!DOCTYPE html>
<html>
    <head>
        <title>Teologian Sanakirja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"> 



        <!-- Angularin lähdekoodit -->
        <script src="/components/angular/angular.min.js"></script>
        <script src="/components/angular-route/angular-route.min.js"></script>
        <script src="/components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/components/angular-animate/angular-animate.min.js"></script>

        <!--AngularStrapin lähdekoodit!-->
        <script src="/components/angular-strap/dist/angular-strap.min.js"></script>
        <script src="/components/angular-strap/dist/angular-strap.tpl.min.js"></script>
        <script src="/components/jquery/dist/jquery.js"></script>

        <!--Oman sovelluksen koodit -->
        <script src="javascripts/app.js"></script>
        <script src="javascripts/controllers/reloadController.js"></script>
        <script src="javascripts/controllers/getController.js"></script>
        <script src="javascripts/controllers/kirjainController.js"></script> 
       <!-- <script src="javascripts/controllers/postController.js"></script> -->
        <script src="javascripts/controllers/hakuKenttaController.js"></script>
        <script src="javascripts/services.js"></script>

    </head>

    <body ng-app="sanakirjaApp">
        <h1>  Teologian Sanakirja </h1>
        <header> <ul>
                <li class="etusivu" ><a href ="/#/">etusivu</a></li>
                <li class="random"> <a href ="#/random" >random sana</a>

            </ul> <!-- <a href ="#/post" >Lisää sana</a> --></header>
        
        <div ng-controller="kirjainController">
            <a ng-repeat="kirjain in AAKKOSET" href="/#/lista/{{kirjain}}">{{kirjain}}&nbsp;</a> 
        </div>
        
        <div>
            <div ng-view></div>
        </div>
    </body>
</html>
