<!DOCTYPE html>
<html>
    <head>
        <title>Teologian Sanakirja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/style.css" rel="stylesheet">

        <!-- Angularin lähdekoodit -->
        <script src="/components/angular/angular.js"></script>
        <script src="/components/angular-route/angular-route.js"></script>


        <!--Oman sovelluksen koodit -->
        <script src="javascripts/app.js"></script>
        <script src="javascripts/controllers/getController.js"></script>
        <script src="javascripts/controllers/postController.js"></script>
        <script src="javascripts/controllers/hakuKenttaController.js"></script>
        <script src="javascripts/services.js"></script>

    </head>

    <body ng-app="sanakirjaApp">
        <h1>  Teologian Sanakirja </h1>
        <header><a href ="/#/" >etusivu</a> <a href ="#/random" >random sana</a> <!-- <a href ="#/post" >Lisää sana</a> --></header>
        <br/>
        <div ng-view></div>
    </body>
</html>
