<div id="admin">
    <form novalidate>
        <label id="adminSanaLabel">Sana: </label>
        <fieldset id="adminSanaSet">
            <input ng-repeat="adminSana in adminSanaInputs" class="adminSana" type="text" name="adminSana.name" />
        </fieldset>
        <input id="lisaaRivi" type="button" ng-click="lisaaSanarivi()" value="Lisää sana" />
        <br/>
        <label id="adminSelitysLabel">Selitys: </label><textarea id="adminSelitys" ng-model="adminSelitys"></textarea>
        <br/>
        <input id="adminTallenna" type="button" ng-click="" value="Tallenna" />
        <input id="adminPoista" type="button" ng-click="" value="Poista" />
        <input id="adminTyhjenna" type="button" ng-click="" value="Tyhjennä kentät" />

    </form>
</div>