<div id="admin">
    <form novalidate>
        <label id="adminSanaLabel">Sana: </label>

        <fieldset id="adminSanaSet">
            <input class="dropdown up" ng-change="hallinnoiRiveja({{adminSanat[0].id}}); sanaSelitys()" ng-model="adminSanat[0].hakusana" 
                   bs-options="sana.hakusana as sana.hakusana for sana in sanalista | filter:{hakusana:adminSanahaku} "
                   placeholder="Etsi sanan perusteella" bs-typeahead>
            <input ng-repeat="adminSana in adminSanat" type='text' class="adminSana" ng-show="!$first" ng-model="adminSana.hakusana" ng-change="hallinnoiRiveja({{adminSana.id}})" placeholder='Lisää hakusana'>
        </fieldset>
        <br/>

        <label id="adminSelitysLabel">Selitys: </label>
        <textarea id="adminSelitys">{{adminSelitys}}</textarea>

        <br/>
        <input id="adminTallenna" type="button" ng-click="" value="Tallenna" />
        <input id="adminPoista" type="button" ng-click="" value="Poista" />
        <input id="adminTyhjenna" type="button" ng-click="" value="Tyhjennä kentät" />
    </form>
</div>    
