    
<label>Etsi: <input class="dropdown up" ng-model="kirjainHakuKentta" 
                    bs-options="sana.hakusana as sana.hakusana for sana in sanalista | filter:kirjainFilter "
                    placeholder="Etsi kirjaimella alkavista sanoista" bs-typeahead></label>
<button type="button" ng-click="tyhjennahaku()">Tyhjennä haku</button>
<div class="sanaSelitys" ng-repeat="sanat in sanalista| filter:kirjainFilter | filter: {hakusana:kirjainHakuKentta}:true"
     ng-show="kirjainHakuKentta.length > 0">
    <br/>
    Sana:  <a class="hakusana" href="/#/sanat/{{sanat.hakusana}}">{{sanat.hakusana}}</a>
    <p class="selitys" ng-bind-html="sanat.selitys">  Selitys: {{sanat.selitys}}</p>
</div>

<hr>
<div class="sanaSelitys" ng-repeat="sanat in sanalista| filter:kirjainFilter | filter:kirjainHakuKentta | filter:{hakusana: '!' + kirjainHakuKentta}:true
                        | orderBy: 'hakusana'">    
    <br/>
    Sana:  <a class="hakusana" href="/#/sanat/{{sanat.hakusana}}">{{sanat.hakusana}}</a>
    <p class="selitys" ng-bind-html="sanat.selitys">  Selitys: {{sanat.selitys}}</p> 
</div>

