<div ng-controller="hakuKenttaController">
    <!--sana.hakusana for sana in sanalista -->
    <div class="sanaSelitys" ng-controller="historyController" ng-repeat="sanat in sanalista | filter:{hakusana:hakuKentta}:true | limitTo:1" ng-show="hakuKentta.length > 0">
        <br/>
        Sana:  <a class="hakusana" href="/#/sanat/{{sanat.hakusana}}">{{sanat.hakusana}}</a>
        <p class="selitys" ng-bind-html="sanat.selitys | unsafe_html"></p>
    </div>

    <hr>

    <div class="sanaSelitys" ng-repeat="sanat in sanalista| filter: hakuKentta | filter:{hakusana: '!' + hakuKentta}:true
               | limitTo:10 | orderBy: 'hakusana'" ng-show="hakuKentta.length > 2">    
         <br/>
         Sana:  <a class="hakusana" href="/#/sanat/{{sanat.hakusana}}">{{sanat.hakusana}}</a>
        <p class="selitys" ng-bind-html="sanat.selitys | unsafe_html"></p> 
    </div>
</div>