<div ng-controller="hakuKenttaController">

    <label>Etsi: <input ng-model="hakuKentta" placeholder="Etsi sanan perusteella"></label>
    <button type="button" ng-click="tyhjennahaku()">Tyhjennä haku</button>


    <div class="sanaSelitys" ng-repeat="sanat in sanalista| filter:{hakusana:hakuKentta}:true" 
         ng-show="hakuKentta.length > 0">
        <br/>
        Sana:   {{sanat.hakusana}}
        <p ng-bind-html="sanat.selitys">  Selitys: {{sanat.selitys}}</p>
    </div>



    <hr>



    <div class="sanaSelitys" ng-repeat="sanat in sanalista| filter: hakuKentta | filter:{hakusana: '!' + hakuKentta}:true
               | limitTo:10 | orderBy: 'hakusana'" ng-show="hakuKentta.length > 2">    
         <br/>
        Sana:  {{sanat.hakusana}}
        <p ng-bind-html="sanat.selitys">  Selitys: {{sanat.selitys}}</p> 
    </div>

</div>