@font-face {
    font-family: 'Kenyan Coffee';
    local: 'Kenyan Coffee';
    src: url('../fonts/kenyan coffee rg.ttf')
         format('truetype');
}

html{
    background: url('../images/flower.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0px;
  padding: 0px;
}

a {
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    border: 2px solid #DEBA42;
    background-color: #DF7A3C;
}

a:active    {
    border: 2px solid #CF6A35;
}

h1  {
    font-family: 'Kenyan Coffee';
    color: #40c456;
    font-size: 3.5em;
}

header  {
    width: 100%;
    top: 0px; 
    height: 20%;
    width: 100%;
}

li{
    display: inline-block;
}

ul  {
    padding-bottom: 10px; 
    padding-top: 10px;
    border-top: 2px solid #BDD284;
    border-bottom: 2px solid #BDD284;  
}

#hakukentta {
    margin-top: 20px;
    margin-left: 10px;
    border-color: black;
}

#etusivu header .etusivu > a {
       pointer-events: none;
       cursor: default;
}

#templatewrapper  {
    background-color: white;
    width: 100%;
    height: 60%;
    overflow: auto;
    border: 2px solid #BDD284;
}

.sanaSelitys {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
}
