@font-face {
    font-family: 'Kenyan Coffee';
    local: 'Kenyan Coffee';
    src: url('../fonts/kenyan coffee rg.ttf') format('truetype'),
        url('../fonts/kenyan coffee rg.woff') format('woff');
}

html    {
    background-color: rgb(242,229,178);
}

@media (min-width: 992px)   {
    html    {
        background: url('/images/pergament.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: rgb(242,229,178);
    }
}

body {
    margin: 3% 3% 3% 3%;
    padding: 0px 0px 0px 0px;
    background: none;
}

@media (min-width: 768px)   {
    body {
        margin: 3% 3% 3% 3%;
        padding: 0px 0px 0px 0px;
        overflow-x: hidden;
        background: none;
    }
}

@media (max-width: 767px)   {
    .page-header{
        margin-bottom: 0px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-image: -webkit-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -moz-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -o-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -ms-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        border-bottom-style: none;
        position: relative;
        z-index: 10;
        height: 200px;
        border: solid;
        border-width: 1px;
        border-top-color: rgba(255,255,255,0.3);
        border-left-color: rgba(255,255,255,0.3);
        border-style: outset;
        border-bottom: none;
    }
}

@media (min-width: 768px) {
    .page-header{
        margin-bottom: 0px;
        padding-top: 5px;
        background-image: -webkit-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -moz-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -o-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        background-image: -ms-linear-gradient(bottom, #a68d5e 2%, rgba(166,141,94,0.3));
        border-bottom-style: none;
        position: relative;
        z-index: 10;
        height: 230px;
        border: solid;
        border-width: 1px;
        border-top-color: rgba(255,255,255,0.3);
        border-left-color: rgba(255,255,255,0.3);
        border-style: outset;
        border-bottom: none;
    }
}

@media  (max-width: 1190px)  {
    .page-header    {
        height: 280px;
    }
}

@media  (max-width: 830px)  {
    .page-header    {
        height: 300px;
    }
}

@media  (max-width: 525px)  {
    .page-header    {
        height: 340px;
    }
}

@media  (max-width: 517px)  {
    .page-header    {
        height: 370px;
    }
}

@media  (max-width: 422px)  {
    .page-header    {
        height: 460px;
    }
}

@media (max-width: 767px)   {
    .navbar  {
        padding-left: 0px;
        background: none;
        border: none;
        color: #000;
        display: inline-block;
        float: left;                                             
    }
}

@media (min-width: 768px)   {
    .navbar  {
        padding-left: 2.5%;
        margin-bottom: 0px;
        background: none;
        border: none;
        color: #000;
    }
    
    .navbar .nav li a   {
        color: #000;
        padding-top: 15px;
        border: none;
    }
}

.navbar .nav li a   {
    color: #000;
    padding-top: 0px;
}

.navbar .nav li a:hover   {
    color: #424242;
}

.navbar .nav li    {
    border-right-style: outset;
    border-right-width: 1px;
    border-right-color: rgba(234,223,170,0.3);
}

.navbar .nav .ei-oikeaa-reunaa   {
    border-right-style: none;
}

.sisallaViesti  {
    text-align: right;
}

@media (max-width: 767px)  {
    .page-header h1  {
        padding-right: 3%;
        font-family: 'Kenyan Coffee';
        font-size: 3em;
        font-weight: lighter;
        text-align: right;
        padding-right: 10px;
    }
}

@media (min-width: 768px) {
    .page-header h1  {
        padding-left: 3%;
        font-family: 'Kenyan Coffee';
        font-size: 4.3em;
        font-weight: lighter;
        display: inline-block;
    }
}

@media  (max-width: 522px)  {
    .page-header h1    {
        clear: left;
        text-align: left;
        padding-left: 2px;
    }
}

.aakkoset .navbar-nav li a  {
    color: #000;
    padding: 5px 5px 0px 5px;
    background: none;
    background-color: transparent;
}

.aakkoset .navbar-nav li a:visited   {
    text-decoration: underline;
}

.aakkoset .navbar-nav li a:hover {
    background: none;
    text-decoration: underline;
}

.aakkoset .navbar-nav li a:active   {
    text-decoration: underline;
}

.aakkoset   {
    display: none;
}

@media (min-width: 768px) {
    .aakkoset   {
        display: inline-block;
        padding-left: 3%;
    }
}


@media (max-width: 767px)  {
    #haku   {
        padding-left: 1px;
        float: left;
        clear: left;
    }
    
    .navbar-nav {
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) {
    #haku   {
        padding-left: 3%;
        padding-top: 10px;
    }
}

@media  (max-width: 522px)  {
    #haku   {
        padding-left: 1px;
        padding-top: 10px;
        float: left;
        clear: left;
    }
    
    #tyhjennaHaku   {
        margin-left: 35px;
    }
}

.sisalto    {
    overflow: auto;
    padding: 3%;
    padding-top: 2%;
    margin-left: 0px;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    display: flex;
    position: relative;
    width: 100%;
    background-color: #fff;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-top: 0px;
    border-style: outset;
    border-width: 2px;
}

.sailio {
    border: none;
    width: 100%;
}

.container-fluid    {
    border-top: none;
}

#etusivu header .etusivu > a {
    pointer-events: none;
    cursor: default;
}

.sanaSelitys {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
}
input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; opacity: 0; }

.lyhenne {
    border-bottom: dotted 1px;
}

#adminSanaLabel {
    margin-top: 3%;
    margin-right: 2.7em;
    vertical-align: top;
    //    display: inline-block;
}

.adminSana {
    display: list-item;
}

#adminSelitysLabel {
    margin-top: 2em;
    margin-right: 2em;
}

#adminSelitys {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80em;
    height: 30em;
    display: inline-block;
    vertical-align: top;
}

#tekijaLabel   {
    margin-right: 2.4em;
    vertical-align: top;
}

#adminTallenna {
    margin-left: 5.7em;
}

#admin input[type="button"] {
    margin-right: 1.6em;
    margin-top: 2em;
}

#adminSanaSet {
    display: inline;
    margin-top: 3%;
}

fieldset input, #tekijaInput  {
    width: 25em;
}

#login  {
    padding: 10px;
}

#loginname  {
    padding-right: 50px;
}

#loginpassword  {
    padding-right: 22px;
}

.sisallaViesti  {
    text-align: right;
    margin-right: 10px;
}

.hakusana   {
    font-weight: bold;
}